.panel-login
  max-width 360px
  width 100%
  background-color transparent
  margin auto

  .panel-login__header
    background-color rgba(48, 65, 96, 0.8)

  .panel-login__footer
    background-color rgba(48, 65, 96, 0.8)

  .panel-login__content
    padding 20px 20px 40px 20px
    background-color #fff

  .panel-login__title
    margin 0
    text-transform uppercase
    color #fff
    font-size 23px

  .panel-login__control
    & + .panel-login__control
      margin-top 25px

  .panel-login__input
    margin-top 10px
    color #555
    background-color #fff
    border 1px solid rgba(202, 213, 232, .8)
    border-radius 4px
    padding 6px 12px
    width 100%
    box-sizing border-box
    outline none
    &:focus
      border-color #ccc

  .panel-login__label
    color #9ea7b3
    font-size 13px

    &:first-letter
      text-transform uppercase

  .panel-login__link
    font-size 11px
    color #3276B1
    text-decoration none

    &:first-letter
      text-transform uppercase

    &:hover
      text-decoration underline

  .panel-login__text
    margin 0
    font-size 17px
    color rgba(48, 65, 96, 0.8)
    border-bottom 1px solid rgba(48, 65, 96, 0.8)
    padding-bottom 20px

    &:first-letter
      text-transform uppercase

  .panel-login__copyright
    text-align center
    font-size 13px
    color #fff

.panel-login .panel-login__header,
.panel-login .panel-login__footer
  padding 20px