.tab
  position relative

  .tab__item
    position absolute
    border-top 1px solid rgba(0,0,0, .07)
    top 70px
    padding-top 10px
    left 0
    width 100%
    display  none

    &.tab__item--active
      display  block