.grid-user
  display flex
  flex-wrap wrap
  justify-content center
  margin 0 -7.5px

  .grid-user__item
    margin 0 7.5px

    &:first-child
      flex-basis 300px
      flex-shrink 0
      flex-grow 0

    &:last-child
      flex-shrink 0
      flex-grow 1

